[project]
name = "dora-pyaudio"
version = "0.3.10"
authors = [{ name = "Haixuan Xavier Tao", email = "tao.xavier@outlook.com" }]
license = { text = "MIT" }
readme = "README.md"
requires-python = ">=3.8"
description = "dora-pyaudio"

dependencies = [
    "dora-rs >= 0.3.9",
    "numpy >= 1.0.0",
    "pyarrow >= 5.0.0",
    "pyaudio >= 0.1.0",
]

[dependency-groups]
dev = ["pytest >=8.1.1", "ruff >=0.9.1"]

[project.scripts]
dora-pyaudio = "dora_pyaudio.main:main"

[tool.ruff.lint]
extend-select = [
  "D",   # pydocstyle
  "UP",
]
