[workspace]
members = [
    "apis/c/*",
    "apis/c++/*",
    "apis/python/node",
    "apis/python/operator",
    "apis/rust/*",
    "apis/rust/operator/macros",
    "apis/rust/operator/types",
    "binaries/cli",
    "binaries/coordinator",
    "binaries/daemon",
    "binaries/runtime",
    "examples/rust-dataflow/*",
    "examples/benchmark/*",
    "libraries/communication-layer/*",
    "libraries/core",
    "libraries/message",
    "libraries/shared-memory-server",
    "libraries/extensions/download",
    "libraries/extensions/telemetry/*",
    "libraries/extensions/zenoh-logger",
]

[workspace.package]
version = "0.2.0"

[workspace.dependencies]
dora-node-api = { version = "0.2.0", path = "apis/rust/node", default-features = false }
dora-operator-api = { version = "0.2.0", path = "apis/rust/operator", default-features = false }
dora-core = { version = "0.2.0", path = "libraries/core" }
dora-tracing = { version = "0.2.0", path = "libraries/extensions/telemetry/tracing" }

[package]
name = "dora-examples"
version = "0.0.0"
edition = "2021"
license = "Apache-2.0"


[dev-dependencies]
eyre = "0.6.8"
tokio = "1.24.2"
dora-daemon = { path = "binaries/daemon" }
dora-core = { path = "libraries/core" }
dunce = "1.0.2"
serde_yaml = "0.8.23"
uuid = { version = "1.2.1", features = ["v4", "serde"] }
tracing = "0.1.36"
tracing-subscriber = "0.3.15"

[[example]]
name = "c-dataflow"
path = "examples/c-dataflow/run.rs"

[[example]]
name = "rust-dataflow"
path = "examples/rust-dataflow/run.rs"

[[example]]
name = "rust-dataflow-url"
path = "examples/rust-dataflow-url/run.rs"

[[example]]
name = "cxx-dataflow"
path = "examples/c++-dataflow/run.rs"

[[example]]
name = "python-dataflow"
path = "examples/python-dataflow/run.rs"

[[example]]
name = "python-operator-dataflow"
path = "examples/python-operator-dataflow/run.rs"

[[example]]
name = "benchmark"
path = "examples/benchmark/run.rs"
