[workspace]
members = [
    "apis/c/*",
    "apis/c++/*",
    "apis/python/node",
    "apis/python/operator",
    "apis/rust/*",
    "apis/rust/operator/macros",
    "apis/rust/operator/types",
    "binaries/cli",
    "binaries/coordinator",
    "binaries/daemon",
    "binaries/runtime",
    "examples/rust-dataflow/*",
    "examples/benchmark/*",
    "examples/multiple-daemons/*",
    "libraries/communication-layer/*",
    "libraries/core",
    "libraries/message",
    "libraries/shared-memory-server",
    "libraries/extensions/download",
    "libraries/extensions/telemetry/*",
    "libraries/extensions/zenoh-logger",
]

[workspace.package]
# Make sure to also bump `apis/node/python/__init__.py` version.
version = "0.2.2"
description = "`dora` goal is to be a low latency, composable, and distributed data flow."
documentation = "https://dora.carsmos.ai/dora/"
license = "Apache-2.0"

[workspace.dependencies]
dora-node-api = { version = "0.2.2", path = "apis/rust/node", default-features = false }
dora-operator-api = { version = "0.2.2", path = "apis/rust/operator", default-features = false }
dora-operator-api-macros = { version = "0.2.2", path = "apis/rust/operator/macros" }
dora-operator-api-types = { version = "0.2.2", path = "apis/rust/operator/types" }
dora-operator-api-python = { version = "0.2.2", path = "apis/python/operator" }
dora-operator-api-c = { version = "0.2.2", path = "apis/c/operator" }
dora-node-api-c = { version = "0.2.2", path = "apis/c/node" }
dora-core = { version = "0.2.2", path = "libraries/core" }
dora-tracing = { version = "0.2.2", path = "libraries/extensions/telemetry/tracing" }
dora-metrics = { version = "0.2.2", path = "libraries/extensions/telemetry/metrics" }
dora-download = { version = "0.2.2", path = "libraries/extensions/download" }
shared-memory-server = { version = "0.2.2", path = "libraries/shared-memory-server" }
communication-layer-request-reply = { version = "0.2.2", path = "libraries/communication-layer/request-reply" }
dora-message = { version = "0.2.2", path = "libraries/message" }
dora-runtime = { version = "0.2.2", path = "binaries/runtime" }
dora-daemon = { version = "0.2.2", path = "binaries/daemon" }
dora-coordinator = { version = "0.2.2", path = "binaries/coordinator" }

[package]
name = "dora-examples"
version = "0.0.0"
edition = "2021"
license = "Apache-2.0"


[dev-dependencies]
eyre = "0.6.8"
tokio = "1.24.2"
dora-daemon = { workspace = true }
dora-coordinator = { workspace = true }
dora-core = { workspace = true }
dunce = "1.0.2"
serde_yaml = "0.8.23"
uuid = { version = "1.2.1", features = ["v4", "serde"] }
tracing = "0.1.36"
tracing-subscriber = "0.3.15"
futures = "0.3.25"

[[example]]
name = "c-dataflow"
path = "examples/c-dataflow/run.rs"

[[example]]
name = "rust-dataflow"
path = "examples/rust-dataflow/run.rs"

[[example]]
name = "rust-dataflow-url"
path = "examples/rust-dataflow-url/run.rs"

[[example]]
name = "cxx-dataflow"
path = "examples/c++-dataflow/run.rs"

[[example]]
name = "python-dataflow"
path = "examples/python-dataflow/run.rs"

[[example]]
name = "python-operator-dataflow"
path = "examples/python-operator-dataflow/run.rs"

[[example]]
name = "benchmark"
path = "examples/benchmark/run.rs"

[[example]]
name = "multiple-daemons"
path = "examples/multiple-daemons/run.rs"
