[workspace]
members = [
    "apis/c/*",
    "apis/c++/*",
    "apis/python/node",
    "apis/python/operator",
    "apis/rust/*",
    "apis/rust/operator/macros",
    "apis/rust/operator/types",
    "binaries/*",
    "examples/rust-dataflow/*",
    "examples/iceoryx/*",
    "libraries/communication-layer/*",
    "libraries/core",
    "libraries/message",
    "libraries/extensions/download",
    "libraries/extensions/telemetry/*",
    "libraries/extensions/zenoh-logger",
]

[workspace.package]
version = "0.1.2"

[workspace.dependencies]
dora-node-api = { version = "0.1.2", path = "apis/rust/node", default-features = false }
dora-operator-api = { version = "0.1.2", path = "apis/rust/operator", default-features = false }
dora-core = { version = "0.1.2", path = "libraries/core" }

[package]
name = "dora-examples"
version = "0.0.0"
edition = "2021"
license = "Apache-2.0"


[dev-dependencies]
eyre = "0.6.8"
tokio = "1.23.1"
dora-coordinator = { path = "binaries/coordinator" }
dunce = "1.0.2"

[[example]]
name = "c-dataflow"
path = "examples/c-dataflow/run.rs"

[[example]]
name = "rust-dataflow"
path = "examples/rust-dataflow/run.rs"

[[example]]
name = "rust-dataflow-url"
path = "examples/rust-dataflow-url/run.rs"

[[example]]
name = "cxx-dataflow"
path = "examples/c++-dataflow/run.rs"

[[example]]
name = "python-dataflow"
path = "examples/python-dataflow/run.rs"

[[example]]
name = "iceoryx"
path = "examples/iceoryx/run.rs"
