[package]
name = "dora-rs"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
members = [
    "api/node",
    "api/operator",
    "api/operator/macros",
    "coordinator",
    "message",
    "metrics",
    "tracing",
    "api/python/node",
    "api/python/binding",
    "common",
    "runtime",
    "runtime/examples/example-operator",
    "zenoh-logger",
]

[dependencies]
