[tool.poetry]
name = "dora-yolo"
version = "0.3.7"
authors = [
    "Haixuan Xavier Tao <tao.xavier@outlook.com>",
    "Enzo Le Van <dev@enzo-le-van.fr>",
]
description = "Dora Node for object detection with dora YOLOv8"
readme = "README.md"

packages = [{ include = "dora_yolo" }]

[tool.poetry.dependencies]
dora-rs = "^0.3.6"
numpy = "< 2.0.0"
ultralytics = "^8.3.24"
python = "^3.7"

[tool.poetry.scripts]
dora-yolo = "dora_yolo.main:main"

[build-system]
requires = ["poetry-core>=1.8.0"]
build-backend = "poetry.core.masonry.api"
