[project]
name = "dora-vad"
version = "0.3.10"
description = "Dora Node for Text translating using Argostranslate"
authors = [{ name = "Haixuan Xavier Tao", email = "tao.xavier@outlook.com" }]
license = { text = "MIT" }
readme = "README.md"
requires-python = ">=3.8"

dependencies = ["dora-rs >= 0.3.9", "numpy < 2.0.0", "silero-vad >= 5.1"]

[dependency-groups]
dev = ["pytest >=8.1.1", "ruff >=0.9.1"]

[project.scripts]
dora-vad = "dora_vad.main:main"

[tool.ruff.lint]
extend-select = [
  "D",   # pydocstyle
  "UP",  # Ruff's UP rule
  "PERF" # Ruff's PERF rule
]
